student_data.head() - 5 первых строк

student_data.tail() - 5 последних строк

student_data.info() - общая информация

student_data.shape - размерность (строки и колонки)

student_data.describe() - стат характеристики

student_data.describe(include=['object'])

student_data['name'].value_counts() = частота уникальных значений или их использования

student_data['name'].value_counts(normalize=True) в % соотношении 

Стат методы 

- .count()	Количество непустых значений
- .mean()	Среднее значение
- .min()	Минимальное значение
- .max()	Максимальное значение
- .var()	Дисперсия
- .std()	Стандартное отклонение
- .sum()	Сумма
- .quantile(x)	Квантиль уровня x
- .nunique()	Число уникальных значений

Модальный метод
- student_data['name'].mode()

Фильтрация данных

mask = melb_data['Price'] > 2000000

display(melb_data[mask].head())

и = &, и = |

melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

In [1]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep = ',')
student_data.head()
# student_data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [2]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
# Данные о скольких студентах содержатся в таблице?
student_data.shape

(1000, 8)

In [4]:
# Каков балл по письму у студента под индексом 155?
student_data.iloc[155]['writing score']

88

In [5]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
student_data['math score'].mean()

66.089

In [7]:
student_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [8]:
student_data['race/ethnicity'].value_counts(normalize=True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [9]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean().round()

74.0

In [10]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

1

In [55]:
#Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл 
# по математике выше, чем у студентов с льготным питанием.
#В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

standard = student_data[student_data['lunch'] == 'standard']['math score'].mean().round()
free = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean().round()
print(standard, free)

70.0 59.0

In [54]:
# Каков процент студентов, родители которых имеют 
# высшее образование уровня бакалавриата (bachelor's degree)?

((student_data['parental level of education'] == "bachelor's degree").mean() * 100).round()

12.0

In [52]:

median_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(median_a - mean_c)))

6